@model timesheet_net.Models.Projects
@{
    ViewBag.Title = "Edycja projektu";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dane projektu</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProjectID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Nazwa projektu:")
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="JobPositionID">Szef projektu:</label>
                        @Html.DropDownList("SuperiorID", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SuperiorID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Start, "Data rozpoczęcia:")
                        <div class="input-group date" id="start-datepicker">

                            @Html.EditorFor(model => model.Start, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @Value = Model.Start.ToString("yyyy-MM-dd")
                                }
                            })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Finish, "Data zakończenia:")
                        <div class="input-group date" id="finish-datepicker">
                            @Html.EditorFor(model => model.Finish, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @Value = (Model.Finish.HasValue ? Model.Finish.Value.ToString("yyyy-MM-dd") : string.Empty)
                                }
                            })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-default btn-main">Zapisz</button>
                    
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Przypisani pracownicy</h3>
            </div>
            <div class="panel-body">
                <label for="userToAdd">Dodaj pracownika:</label>
                <div class="dropdown">
                    <input type="text" class="form-control dropdown-toggle" id="userToAdd" data-toggle="dropdown" />
                    <ul class="dropdown-menu" id="userList" style="width: 328px;">
                        <!-- AJAX employee list -->
                    </ul>
                </div>
                <br />
                <label for="assignedEmpl">Przypisani pracownicy:</label>
                
                <ul id="assignedEmpls">
                    <!-- AJAX assigned employees  -->
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Status projektu</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("SetState", "Project", new { id = Model.ProjectID }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStateID, "Status projektu")
                        @Html.DropDownList("ProjectStateID", null, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-default btn-main">Zapisz</button>
                }
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Usuwanie</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Delete", "Project", new { id = Model.ProjectID }))
                {
                    @Html.AntiForgeryToken()
                    <p>Z poziomu tego panelu możesz usunąć wybrany projekt. Operacja ta spowoduje także
                       usunięcie wszystkich Timesheetów oraz przypisań do projektów.<br />
                       <strong>Uwaga!</strong> Operacja ta jest nieodwracalna.</p>
                    <button type="submit" class="btn btn-danger">Usuń</button>
                }
               
                
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("Powrót do listy", "Overview", "Project", null, new { @class = "btn btn-bold", @style = "width: 150px;" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var pageProjID = @Model.ProjectID;
    </script>
    <script src="~/Scripts/Projects/employee-dropdown.js"></script>
    <script src="~/Scripts/Projects/datepicker-setup.js"></script>
    <script src="~/Scripts/Projects/edit-page.js"></script>
}
