@{
    ViewBag.Title = "Strona domowa";
}

<div style="width:100%;  float:left; text-align:center">
    <img src="~/Pics/clocktimesheet.png" alt="" style="max-width:100%; padding-bottom:10px">
</div>
@if (Session["Login"] != null)
{
        <div class="alert alert-danger alert-dismissable fade in" style="top:10px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Uwaga!</strong> Twoje konto zostało zablokowane z powodu zbyt wielu niepoprawnych prób logowania.
            Proszę skontaktować sią z administratorem systemu.
        </div>
}

@if (Session["PleaseLogin"] != null)
{
    <div class="alert alert-danger alert-dismissable fade in" style="top:10px">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Do pracy z aplikacją wymagane jest zalogowanie się. Proszę skorzystać z formularza logowania celem zalogowania.
    </div>
}

<div class="container">
   
    <div class="row;">
        <!-- first column - Timesheet -->
        <div class="col-md-4" style="text-align:center">
            <div class="form-group">
                <br>
                @if (Session["EmployeeID"] == null)
                {
                    <span class="label label-default label-main" data-toggle="collapse" data-target="#timesheet">Timesheet</span>
                    <!-- Basic Collapsible -->
                    <div id="timesheet" class="collapse" style="padding-top:15px;text-align:justify; text-justify:inter-word;orphans:3;">
                        W tej sekcji można wypełniać timesheet w obrębie wybranego projektu.
                        Liczba definiowanych zadań jest dowolna. Zadania można modyfikować i usuwać.
                        Po dodaniu zadania do timesheetu, można dodać liczbę godzin przeznaczoną na pracę w danym dniu. Dodatkowo jest możliwość
                        skomentowania zadania.
                    </div>
                }
                else
                {
                    <input type="button" class="btn btn-default btn-main" value="Timesheet" onclick="@("window.location.href='" + @Url.Action("Current", "Timesheet") + "'");" />
                    <p style="padding-top:15px">
                        <span class="glyphicon glyphicon-th-list"></span>  Wypełnij wybrany timesheet
                    </p>
                }
            </div>
        </div>
        <!-- second column - Project -->
        <div class="col-md-4" style="text-align:center">
            <div class="form-group">
                <br>
                @if (Session["EmployeeID"] == null)
                {
                    <span class="label label-default label-main" data-toggle="collapse" data-target="#project">Projekt</span>
                    <!-- Basic Collapsible -->
                    <div id="project" class="collapse" style="padding-top:15px;text-align:justify; text-justify:inter-word;orphans:3;">
                        W tej sekcji można podejrzeć najważniejsze dane na temat projektów, do których jest się przypisanym, np.
                        czas realizacji projektu, dane przełożonego, ekipa projektowa.
                    </div>
                }
                else
                {
                    <input type="button" class="btn btn-default btn-main" value="Projekt" onclick="@("window.location.href='" + @Url.Action("Overview", "Project") + "'");" />
                    <p style="padding-top:15px">
                        <span class="glyphicon glyphicon-tasks"></span>  Podejrzyj szczegóły projektu
                    </p>
                }
            </div>
        </div>
        <!-- third column - Personal data edition -->
        <div class="col-md-4" style="text-align:center">
            <div class="form-group">
                <br>
                @if (Session["EmployeeID"] == null)
                {
                    <span class="label label-default label-main" data-toggle="collapse" data-target="#personalData">Dane osobowe</span>
                    <!-- Basic Collapsible -->
                    <div id="personalData" class="collapse" style="padding-top:15px;text-align:justify; text-justify:inter-word;orphans:3;">
                    W tej sekcji można zmienić wybrane dane personalne.
                    </div>
                }
                else
                {
                    <input type="button" class="btn btn-default btn-main" value="Dane osobowe" onclick="@("window.location.href='" + @Url.Action("Edit", "Account") + "'");" />
                    <p style="padding-top:15px;">
                        <span class="glyphicon glyphicon-user"></span>  Edytuj dane
                    </p>
                }
            </div>
        </div>
    </div>
</div>
